.skills {
    display: inline;
    text-align: -webkit-center;
    width: 1168px;
    height: 370px;
    margin-left: 19%;
}

#skills__titulo {
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    margin: 3em;
}

.skills__container {
    height: 235px;
    width: 1168px;
    left: 141px;
    top: 2079px;
    background: #212121;
    display: flex;
    justify-content: center;
}

.skills__container div {
    width: 159px;
    height: 119px;
    margin: 4em;
}

.skills__container div h1 {
    font-size: 72px;
    font-weight: 700;
    color: #4F4F4F;
}

.skills__container div p {
    font-size: 24px;
    font-weight: 700;
    color: #cc0000;
    text-align: center;
}

@media screen and (max-width: 414px) {
    
    #skills__titulo {
        font-size: 80px;
    }

    .skills__container {
        height: 267px;
    }

    .skills__container div h1 {
        font-size: 100px;
    }

    .skills__container div p {
        font-size: 35px;
    }
    
}